button {
  margin-top: 1rem;

  width: 250px;
  height: 50px;

  font-size: 16px;

  background: var(--button-primary);
  color: var(--typography);

  border: 0;

  cursor: pointer;

  transition: filter 0.4s;

  &:hover {
    filter: brightness(0.8);
  }
}
