.content {
  width: 100%;
  height: 100vh;

  padding: 2%;

  background: var(--background);
  color: var(--typography);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
